# .npmrc File Documentation
#
# This file is a configuration file for npm (Node Package Manager).
# It allows you to specify various settings that npm will use by default.
# This file is added to the project to ensure consistent npm behavior across different environments.
#
# auto-install-peers = true: Enables automatic installation of peer dependencies when installing a package.
# Peer dependencies are a specific kind of dependencies that are expected to be installed into the parent project,
# not into the package itself.
#
# save-exact=true: Makes npm save exact versions of packages into your `package.json` file.
# This ensures that an exact version of a package is installed, which can help prevent unexpected behavior caused by updates.

# Enables automatic installation of peer dependencies when installing a package.
auto-install-peers = true

# Save exact versions of dependencies
save-exact=true