import PropTypes from 'prop-types';

const {{properCase name}} = props => {
  return <div>{props.children}</div>
};

{{properCase name}}.PropTypes ={
  children: PropTypes.node
}
export default {{properCase name}};
